include inc_head

body
  include topbar
  div(class="container", id="main_content")
    div(class="row")
      div(class="span2")
        ul(class="nav nav-list")
          li(class="active")
            a(href="#") Home
          li()
            a(href="/artists") Artists
          li()
            a(href="/albums") Albums
          li()
            a(href="/recent") Recent
          li(class="nav-header")
            li()
              a(href="/queue") Queue
            li()
              a(href="/tvmode") TV
        h4() Now Playing
        h4() Queued

      div(class="span10")
        div(class="row")
          each a in row1
            div(class="span2")
              a(href="/album/#{a.id}")
                - if (!a.albumart_med)
                  img(src="/images/album.png", alt="#{a.name} - #{a.artist_name} Album Artwork", width="140", height="140")
                - else
                  img(src="#{a.albumart_med}", alt="#{a.name} - #{a.artist_name} Album Artwork", width="140", height="140")
              a(href="/album/#{a.id}") #{a.name}
              br()
              a(href="/artist/#{a.artist_id}") #{a.artist_name}
        div(class="row")
          each a in row2
            div(class="span2")
              a(href="/album/#{a.id}")
                - if (!a.albumart_med)
                  img(src="/images/album.png", alt="#{a.name} - #{a.artist_name} Album Artwork", width="140", height="140")
                - else
                  img(src="#{a.albumart_med}", alt="#{a.name} - #{a.artist_name} Album Artwork", width="140", height="140")
              a(href="/album/#{a.id}") #{a.name}
              br()
              a(href="/artist/#{a.artist_id}") #{a.artist_name}
        div(class="row")
          each a in row3
            div(class="span2")
              a(href="/album/#{a.id}")
                - if (!a.albumart_med)
                  img(src="/images/album.png", alt="#{a.name} - #{a.artist_name} Album Artwork", width="140", height="140")
                - else
                  img(src="#{a.albumart_med}", alt="#{a.name} - #{a.artist_name} Album Artwork", width="140", height="140")
              a(href="/album/#{a.id}") #{a.name}
              br()
              a(href="/artist/#{a.artist_id}") #{a.artist_name}
       
include inc_foot
script
  notifyUserOnNewQueuedSongs();
  listenNowPlayingUpdates(true);
